.titulo{
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imagem{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin-top: 10px;
}

.container {
    background: #5f7585;
    color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 1.6;
    display: grid;
    place-items: center;
}

.nota{
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.avaliaçao{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    width: 400px;
    height: 300px;
}

.enviar{
    background: #111;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    margin: 0 auto;
    margin-top: 20px;
}

.footer {
    background: #111;
    color: #ccc;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
        padding: 15px;
    }

    .nav-links {
        flex-direction: column;
        gap: 15px;
    }

    .container {
        width: 90%;
        padding: 15px;
        font-size: 1rem;
    }

    .avaliaçao {
        width: 90%;
    }
    
}