.sinopse{
    color: white;
    display: grid;
    place-items: center;
}

.titulo{
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.paragrafo{
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 0 auto;
    margin-left: 200px;
    margin-right: 200px;
}

.adicionar{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
    display: grid;
    place-items: center;
}

.adicao{
    display: flex;
    align-items: center;
    gap: 10px;
    background: #305fc4;
    padding: 10px;
    border-radius: 8px;
    justify-content: center;
    flex-direction: column;
}

.texto{
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 0 auto;
}

.enviar{
    background: red;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
    place-items: center;
    text-decoration: none;
}

@media (max-width: 600px) {
    .paragrafo{
        margin-left: 20px;
        margin-right: 20px;
    }

    .adicao{
        margin-left: 20px;
        margin-right: 20px;
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 950px) {
    .paragrafo{
        margin-left: 50px;
        margin-right: 50px;
    }

    .adicao{
        margin-left: 50px;
        margin-right: 50px;
    }
}